@import "./scss/mixins";
@import "./scss/scrollbar";

body{
    margin:0px;
    padding:0px;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

#app{
    width:100%;
    height:100%;
}

.custom-form{
    @include absolute-center ;
    width:400px;
    max-width:100%;
}

.credentials-bg {
    position:fixed;
    background: url("/images/credentials_bg.png") no-repeat; 
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    transform:scale(1.2);
}

.parent-flex ,.parent-flex>.row>[class*='col-']{
    @include parent-flex;
}

.parent-flex>.row {
    @include parent-flex();
    flex-direction:row;
}

.child-flex{
    flex:1 !important;
    overflow-y:auto !important;
}